$GULAN: #1a94bc;
$DIECHILAN: #4e7ca1;
$ANLAN: #101f30;
$WALV: #45b787;
$QINGFANLV: #2c9678;
$SHANGENGZI: #61649f;
$QIANSHIBAI: #e2e1e4;
$XIDANHONG: #ec2c64;
$CHUSHUXINGHUANG: #f8bc31;
$ZHENZHUHUI: #e4dfd7;
$FURONGHONG: #f9723d;

@font-face {
    font-family: "FZWenZMXCJW";
    src: url("~@/assets/ttf/FZWenZMXCJW.TTF") format("truetype");
}

@font-face {
    font-family: "FZNHT";
    src: url("~@/assets/ttf/FZNHT.TTF") format("truetype");
}
