$GULAN: #1a94bc;
$DIECHILAN: #4e7ca1;
$ANLAN: #101f30;
$WALV: #45b787;
$QINGFANLV: #2c9678;
$SHANGENGZI: #61649f;
$QIANSHIBAI: #e2e1e4;
$XIDANHONG: #ec2c64;
$CHUSHUXINGHUANG: #f8bc31;
$ZHENZHUHUI: #e4dfd7;
$FURONGHONG: #f9723d;
$JINGYVHUI:#475164;
$XUEBAI:#fffef9;

$DISEHUI: #F4F0EF;
$FONTHEI: #24272F;
$FONTHUI: #878B97;
$BORDERHUI: #E3E3E3;
$BORDERHEI: #707070;
$ASIDEHUISE: #24272F;
$BACKGROUND: white;


@font-face {
    font-family: "FZWenZMXCJW";
    src: url("~@/assets/ttf/FZWenZMXCJW.TTF") format("truetype");
}

@font-face {
    font-family: "FZNHT";
    src: url("~@/assets/ttf/FZNHT.TTF") format("truetype");
}

// 多行超出显示。。。
@mixin ellipsis($line) {
    overflow : hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: $line;
    -webkit-box-orient: vertical;
}